<% if local_assigns[:mode] == :list %>
<div class="w-full shadow-lg lg:p-2 lg:mr-8 p-2 mr-0 mb-6">
    <a class="no-underline text-grey-darker" href="<%= post.the_url %>" title="<%= post.the_title %>" >
        <div class="py-2 text-red text-xs lg:text-sm text-center ">
            <%= l(post.created_at, format: "%-d de %B de %Y %-H:%M %p") %>
        </div>
        <div class=' px-2'>
            <div class="py-2  ">
                <strong><%= post.the_title %></strong>
            </div>
            <div class="py-2  "><%= raw truncate(post.the_excerpt, length: 100) %></div>
            <div class="py-2 text-red text-xs lg:text-sm text-center ">
                <%= link_to post.get_field_value('external_url'), target: "_blank", class: "no-underline bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded" do %>
                Descargar
                <% end %>
            </div>
        </div>
    </a>
</div>
<% else %>
<div class="w-full lg:w-1/4 shadow lg:p-2 lg:mr-8 p-2 mr-0 mb-6">
    <a class="no-underline text-grey-darker" href="<%= post.the_url %>" title="<%= post.the_title %>" >
        <div class="py-2 text-red text-xs lg:text-sm text-center ">
            <%= l(post.created_at, format: "%-d de %B de %Y %-H:%M %p") %>
        </div>
        <div class="py-2  ">
            <strong><%= post.the_title %></strong>
        </div>
        <div class="py-2  "><%= raw truncate(post.the_excerpt, length: 100) %></div>
        <div class="py-2 text-red text-xs lg:text-sm text-center ">
            <%= link_to post.get_field_value('external_url'), target: "_blank", class: "no-underline bg-red-dark hover:bg-blue-dark text-white font-bold py-2 px-4 rounded" do %>
              Descargar
            <% end %>
        </div>
    </a>
</div>
<% end %>