<% home_page = (current_site.the_post(current_theme.get_field("home_page").to_i)) %>
<div 
    class="h-100  w-full pb-2 pt-8 lg:pb-4 lg:pt-24 lg:px-24  px-8 text-sm lg:text-base text-white bg-local bg-top bg-cover bg-no-repeat"
    style="background-image: url(assets/<%= theme_asset_path('/images/home-bg.jpg') %>)">
    <% if home_page %>
        <h1><%= home_page.the_title %></h1>
        <div><%= raw home_page.the_content %></div>
    <% end %>
</div>

<% CamaleonCms::PostType.where(slug: ['musica', 'videos', 'noticias']).each do |post_type| %>
    <% titles = {'musica' => 'Últimas canciones', 'videos' => 'Últimos videos', 'noticias' => 'Últimas noticias'} %>
    <div class="px-8 lg:px-24 py-4">
        <div class="">
            <h3><%= titles[post_type.slug] %></h3>
            <%= render partial: 'partials/posts_list', locals: {posts: current_site.the_posts(current_theme.get_field("recent_post_type")).latest.limit(current_theme.get_field("home_qty")).decorate} %>
            <div class="text-center">
            <%= link_to post_type.decorate.the_url, class: "text-grey-darker" do %>
                <strong>
                    Ver todas
                </strong>
            <% end %>
            </div>
        </div>
    </div>
<% end %>

