<% home_page = (current_site.the_post(current_theme.get_field("home_page").to_i)) %>

<div class="slick-recent-posts">
 <% current_site.the_posts(['videos', 'noticias', 'musica']).latest.limit(current_theme.get_field("home_qty")).decorate.each do |post| %>
   <div class="w-full lg:w-1/2  lg:p-2  p-2 mr-0 mb-2 ">
        <div class="shadow relative">

            <a class="no-underline text-white" href="<%= post.the_url %>" title="<%= post.the_title %>" >
                <%=image_tag post.the_thumb_url(), class: 'w-full'%>
                
                <div class='pin-b absolute z-20 px-3 text-white gradient w-full py-4 lg:text-xs'>
                    <div class="py-1  ">
                    <strong><%= post.the_title %></strong>
                    </div>
                    <div class="py-1  "><%= raw truncate(post.the_excerpt, length: 100) %></div>
                    <% if post.get_field_value('external_url').present? %>
                        <div class="py-2 text-red text-xs lg:text-sm text-center ">
                            <%= link_to post.get_field_value('external_url'), target: "_blank", class: "no-underline bg-red-dark hover:bg-red-dark text-white font-bold py-2 px-4 rounded" do %>
                                Descargar
                            <% end %>
                        </div>
                    <% end %>
                </div>
            </a>
        </div>
    </div>
 <% end %>
</div>

<div class="flex px-0 lg:px-24 py-4 flex-wrap">
<div class="w-full lg:w-3/4 px-3">
    <% CamaleonCms::PostType.where(slug: ['musica', 'videos', 'noticias']).each do |post_type| %>
    <% titles = {'musica' => 'Últimas canciones', 'videos' => 'Últimos videos', 'noticias' => 'Últimas noticias'} %>
    <% types = {'musica' => 'recent_audio_post_type', 'videos' => 'recent_video_post_type', 'noticias' => 'recent_post_type'} %>
    <% type = post_type.slug == 'noticias' ? current_theme.get_field(types[post_type.slug]) : current_theme.get_field(types[post_type.slug]).to_i %>
    <div class="" id="">
        <div class="">
            <h3><%= titles[post_type.slug] %></h3>
            <%= render partial: 'partials/posts_list', locals: {posts: current_site.the_posts(type).latest.limit(current_theme.get_field("home_qty")).decorate, post_type: post_type} %>
            <div class="text-center">
            <%= link_to post_type.decorate.the_url, class: "text-grey-darker" do %>
                <strong>
                    Ver todas
                </strong>
            <% end %>
            </div>
        </div>
    </div>
<% end %>
</div>
<div class="w-full lg:w-1/4">
    <%= render partial: "partials/banners" rescue nil %>
    <div>
    <% events = next_events %>
        <% if events.length.positive? %>
            <h3 class="py-2">Próximos Eventos</h3>
            <% events.each  do  |event| %>
                <%= link_to event.the_url, class: "text-grey-darker flex no-underline" do %>
                    <div class="w-1/5 px-2">
                        <div class="border rounded text-center pb-2">
                            <span class="text-3xl text-red">
                            
                                <%= l(event.created_at, format: '%d') rescue nil %>
                            </span>
                            <div class="text-xl ">
                                <strong>
                                <%= l(event.created_at, format: '%b').capitalize rescue nil %>
                                </strong>
                            </div>
                            <div class="text-sm ">
                                <%= l(event.created_at, format: '%Y').capitalize rescue nil %>
                            </div>
                        </div>
                    </div>
                    <div class="w-4/5">
                        <strong>
                            <%= event.the_title %>
                        </strong>
                        <div>
                            <%= event.the_excerpt %>
                        </div>
                    </div>
                <% end %>
            <% end %>

            <div class="text-center">
                <%= link_to post_type_events.decorate.the_url, class: "text-grey-darker my-2 py-2 text-center" do %>
                    <strong>
                        Ver todas
                    </strong>
                <% end %>
            </div>
        <% end %>
    
    </div>
</div>

</div>
