<% home_page = (current_site.the_post(current_theme.get_field("home_page").to_i)) %>
<div 
    class="h-100  w-full pb-2 pt-8 lg:pb-4 lg:pt-24 lg:px-24  px-8 text-sm lg:text-base text-white bg-local bg-top bg-cover bg-no-repeat"
    style="background-image: url(<%= theme_asset_url('images/home-bg.jpg') %>)">
    <% if home_page %>
        <h1><%= home_page.the_title %></h1>
        <div><%= raw home_page.the_content %></div>
    <% end %>
</div>

<div class="flex px-8 lg:px-24 py-4 flex-wrap">
<div class="w-full lg:w-3/4 px-3">
    <div class="flex flex-wrap">
        <div class="w-full lg:w-1/2">
            <% CamaleonCms::PostType.where(slug: ['noticias']).each do |post_type| %>
                <% types = {'musica' => 'recent_audio_post_type', 'videos' => 'recent_video_post_type', 'noticias' => 'recent_post_type'} %>
                <% type = post_type.slug == 'noticias' ? current_theme.get_field(types[post_type.slug]) : current_theme.get_field(types[post_type.slug]).to_i %>
                <div class="" id="">
                    <%= render partial: 'partials/posts_list', locals: {posts: current_site.the_posts(type).latest.limit(current_theme.get_field("home_qty")).decorate, post_type: post_type} %>
                </div>
                <!--<div class="text-right pr-8">
                    <%= link_to post_type.decorate.the_url, class: "text-grey-darker" do %>
                        <strong>
                            Ver todas
                        </strong>
                    <% end %>
                </div>-->
            <% end %>
        </div>
        <div class="w-full lg:w-1/2">
            <% CamaleonCms::PostType.where(slug: ['videos']).each do |post_type| %>
                <% types = {'musica' => 'recent_audio_post_type', 'videos' => 'recent_video_post_type', 'noticias' => 'recent_post_type'} %>
                <% type = post_type.slug == 'noticias' ? current_theme.get_field(types[post_type.slug]) : current_theme.get_field(types[post_type.slug]).to_i %>
                <div class="" id="">
                    <%= render partial: 'partials/posts_list', locals: {posts: current_site.the_posts(type).latest.limit(4).decorate, post_type: post_type} %>
                </div>
                <!--<div class="text-right pr-12">
                    <%= link_to post_type.decorate.the_url, class: "text-grey-darker" do %>
                        <strong>
                            Ver todas
                        </strong>
                    <% end %>
                </div>-->
            <% end %>
        </div>
    </div>


    <% CamaleonCms::PostType.where(slug: ['musica']).each do |post_type| %>
    <% titles = {'musica' => 'Últimas canciones', 'videos' => 'Últimos videos', 'noticias' => 'Últimas noticias'} %>
    <% types = {'musica' => 'recent_audio_post_type', 'videos' => 'recent_video_post_type', 'noticias' => 'recent_post_type'} %>
    <% type = post_type.slug == 'noticias' ? current_theme.get_field(types[post_type.slug]) : current_theme.get_field(types[post_type.slug]).to_i %>
    <div class="" id="">
        <div class="">
            <h3><%= titles[post_type.slug] %></h3>
            <%= render partial: 'partials/posts_list', locals: {posts: current_site.the_posts(type).latest.limit(current_theme.get_field("home_qty")).decorate, post_type: post_type} %>
            <div class="text-center">
            <%= link_to post_type.decorate.the_url, class: "text-grey-darker" do %>
                <strong>
                    Ver todas
                </strong>
            <% end %>
            </div>
        </div>
    </div>
<% end %>
</div>
<div class="w-full lg:w-1/4 pt-6">
    <%= render partial: "partials/banners" rescue nil %>
    <div>
    <% events = next_events %>
        <% if events.length.positive? %>
            <h3 class="py-2">Próximos Eventos</h3>
            <% events.each  do  |event| %>
                <%= link_to event.the_url, class: "text-grey-darker flex no-underline" do %>
                    <div class="w-1/5 px-2">
                        <div class="border rounded text-center pb-2">
                            <span class="text-3xl text-red">
                            
                                <%= l(event.created_at, format: '%d') rescue nil %>
                            </span>
                            <div class="text-xl ">
                                <strong>
                                <%= l(event.created_at, format: '%b').capitalize rescue nil %>
                                </strong>
                            </div>
                            <div class="text-sm ">
                                <%= l(event.created_at, format: '%Y').capitalize rescue nil %>
                            </div>
                        </div>
                    </div>
                    <div class="w-4/5">
                        <strong>
                            <%= event.the_title %>
                        </strong>
                        <div>
                            <%= event.the_excerpt %>
                        </div>
                    </div>
                <% end %>
            <% end %>

            <div class="text-center">
                <%= link_to post_type_events.decorate.the_url, class: "text-grey-darker my-2 py-2 text-center" do %>
                    <strong>
                        Ver todas
                    </strong>
                <% end %>
            </div>
        <% end %>
    
    </div>
</div>

</div>
