<div class="px-8 lg:px-24">
  <div class="border bt-0 px-4">
    <ul class="breadcrumb">
      <%= raw  @post.the_breadcrumb %>
    </ul>

    <div class="flex flex-wrap flex-row">
      <div class="w-full lg:w-2/3">
        <div class="w-full">
            <article class="post-content px-2">
                <div class="shadow border rounded">
                  <%= render partial: 'partials/post_image', locals: {post: @post} %>
                  <div class="bg-red-dark text-white px-3 py-2">
                    <h1><%= raw @post.the_title %> <%= @post.the_edit_link %></h1>
                    <div class="text-sm py-2">
                        <time datetime=""><%= @post.the_created_at %></time>
                    </div>
                  </div>
                </div>
                
                <div class="px-2 py-2 text-right">
                    <%= social_share_button_tag(@post.title, desc: @post.title) %>
                </div>
                <div class="px-3 py-4">
                    <%= raw @post.the_content %>
                </div>
                <% if @post.get_field_value('video_url').present? %>
                  <div class="px-3 py-4 pb-8 ">
                    <div class="video-wrapper">
                      <iframe class="w-full" width="480" min-height="270" src="https://www.youtube.com/embed/<%= @post.get_field_value('video_url').split('v=').last %>?feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                      </iframe>
                    </div>
                  </div>
                <% end %>
            </article>
        </div>
      </div>
      <div class="w-full lg:w-1/3">
        <div class="col-md-3 single-sidebar px-2">
          <%= render partial: "partials/banners" rescue nil %>
          <%= render partial: 'partials/post_categories', locals: {post: @post} %>
          <%= render partial: 'partials/post_related', locals: {post: @post} %>
          <%= render partial: 'partials/post_tags', locals: {post: @post} %>
        </div>
      </div>
    </div>

  
  </div>
</div>