<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META SECTION -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- END META SECTION -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat%3A400%2C700&ver=4.2.2">
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= raw the_head %>

</head>
<body class="<%= is_home? ? "home-page" : "inner-page" %> text-grey-dark">
    <header>
        <%= render partial: 'partials/navigation', locals: {}  %>
    </header><!-- end of header -->


    <div class="px-24">
        <div class="home-wrap clearfix">
            <% if is_home? %>
                <%= yield %>
            <% else %>
                <div id="ww">
                    <div class="container"><%= yield %></div>
                </div>
            <% end %>
        </div><!-- END home-wrap -->
    </div><!-- end of wrapper-->




    <!-- +++++ Footer Section +++++ -->
    <footer id="footer">
      <%= render partial: 'partials/footer', locals: {}  %>    
    </footer><!-- end #footer -->

</body>
</html>
